$colors: (
        white: #fff,
        black: #000,
        green: #65E4A3,
        border-green: #69E6A6,
        gray: #777777
);

$font: (
        main-font: Open Sans,
        secondary-font: Manrope,
        weight-thin: 300,
        weight-medium: 500,
        weight-fat: 700,
        base-size: 62.5%,
        smaller-size: 50%
);

$breakpoints: (
        small: 50em,
        medium: 76.8em,
        large: 102.4em,
        larger: 128em,
        extra-large: 144em
);

$sizes: (
        header-height: 6rem
);